#app-chrome {
  height: 320px;
  width: 640px;
}

button {
  outline: none !important;
}

button:active {
  opacity: 0.8;
  transform: translateY(1px);
}

#buttons {
  box-sizing: content-box;
  left: 0;
  position: relative;
  top: 0;
  padding: 0 calc(40px + 15px);
  width: 40px;
}

#buttons button {
  border: 0;
  display: block;
  height: 30px;
  padding: 0;
  width: 40px;
}

#btn-left,
#btn-right {
  position: absolute;
  top: calc(50% - 15px);
}

#btn-left {
  background: url("../icons/button-left.svg");
  left: 0;
}

#btn-right {
  background: url("../icons/button-right.svg");
  right: 0;
}

#btn-green {
  margin-bottom: 10px;
}

.bg-green {
  background: green;
}

.bg-red {
  background: red;
}

.text-7xl {
  font-size: 5rem;
}

.text-8xl {
  font-size: 6rem;
}

.leading-16 {
  line-height: 4rem;
}

.-rotate-25 {
  --transform-rotate: -25deg;
}
