<div class="absolute inset-0 flex items-center justify-center">
  <div>
    <h1 class="text-6xl mb-4">DENDAMA 01</h1>
    <LinkTo @route="choose-players" class="bg-green-500 text-white py-2 px-10 text-xl">START</LinkTo>
  </div>
</div>